.button {
  display: block;
  width: 200px;
  padding: 20px 40px;
  /* border-radius: 999px; */
  background-color: #222;
  background-image: url("/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  opacity: 0.9;
}

@media (max-width: 640px) {
  .button {
    width: 100%;
    padding: 16px 24px;
  }
}